<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/oneteam.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Shuffle Pairs</title>
    <head>
<body>
<div class="o-v-container">
    <span class="h2 text-monospace o-main-paragraph o-center"
          th:text="'Add engineers to \'' + ${team.name} + '\''"></span>

    <div class="o-fixed-container o-rounded">
        <form action="#"
              th:action="@{/engineers(teamName=${team.name})}"
              th:object="${engineer}"
              method="post">

            <div class="form-group">
                <label for="name">Engineer name</label>
                <input class="form-control" id="name" type="text" th:field="*{name}"/>
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <div class="o-v-container o-fixed-container o-rounded">
        <span class="h4 text-monospace o-paragraph">Engineers</span>
        <div class="o-h-container">
            <h4><span class="badge badge-secondary o-item"
                      th:each="engineer : ${team.engineers}"
                      th:text="${engineer}"></span></h4>
        </div>
        <a class="btn btn-link"
           th:href="@{/pairing(teamName=${team.name})}">Shuffle pairs</a>
    </div>
</div>
</body>
</html>
